$main-color: #222;
$main-color-inactive: #888;
$empty-color: #d2d7df;
$empty-color-active: #8a8d92;
$font_size: 16px;
$header-height: 56px;
$body-width: 1280px;
$sidebar-width: 260px;
$content-width: 1020px;
$blue-color: #0056ff;
$body-padding: 80px;
$main_bg_color: #f2f4f7;
